# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
Project-Space.dir/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.vcxproj
*.filters
*.user
cmake_install.cmake
CMakeCache.txt
Project-Space.sln
.vs/
Debug/
Project-Space.dir/
x64/
CMakeFiles/
CMakeSettings.json
.vscode/
out/
test/
